.dataTables_wrapper {
    font-size: 1.4rem;
}

.category-table thead {
    text-transform: uppercase;
}

.dataTables_wrapper .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.dataTables_wrapper .bottom .dataTables_length label select{
    margin: 0 5px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    border: none !important;
    outline: none !important;
    color: #939393 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: var(--shop-mall-color);
    color: var(--white-color) !important;
    border: none !important;
    margin: 0 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover.current {
    background-color: var(--primary-color);
    color: var(--white-color) !important;
    border: none !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: transparent;
    color: var(--text-color) !important;
    border: none !important;
}

.dataTables_wrapper .dataTables_paginate.previous .paginate_button:hover {
    background: transparent;
    color: var(--text-color) !important;
    border: none !important;
}